.header {
    background-color: var(--white);
    padding: 96px 0 77px;

}
.header__title {
    color: var(--black);
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
    margin: 0 auto;
}
.header_transparent {
    background-color: transparent;
}