.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

}
.modal__window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(100% - 300px);
    background: var(--white);
    border-radius: 8px;
    padding: 30px 40px 33px;
}
.modal__shadow{
    position: fixed;
    border:none;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.5;
    background-color: #C4C4C4;
    height: auto;
}
.modal__close {
    position: absolute;
    right: 12px;
    top: 12px;
    transform: translateX(-50%);
}
.modal__close:after {
    font-size: 20px;
    content: "\00d7";
}
.modal__title {
    color: var(--black);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    opacity: 1;
    margin-top: 0;
    margin-bottom: 14;
}
.modal__text {
    color: var(--Gray-4, #495057);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 0;
}
.button {
    height: 48px;
    display: inline-block;
    border-radius: 8px;
    border: 0;
    color: var(--white);
    text-align: center;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    word-wrap: break-word;
    padding: 15px;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
    background-color: var(--primary);
}
.button:hover {
    background-color: var(--primary_hover);
}
