@import '../fonts/fonts.css';
@import '../../components/container/container.css';
@import '../../components/page/page.css';
@import '../../components/header/header.css';
@import '../../components/preview/preview.css';
@import '../../components/footer/footer.css';
@import '../../components/card/card.css';
@import '../../03-lection1/01-button/button.css';
@import '../../components/main/main.css';
@import '../../components/component/component.css';
@import '../../components/menu/menu.css';
@import '../../components/logo/logo.css';
@import '../../10-lection8/01-theme-changer/theme-changer.css';
@import '../../07-lection5/01-checkbox/checkbox.css';
@import '../../07-lection5/02-radio/radio.css';
@import '../../07-lection5/03-toggler/toggler.css';
@import '../../05-lection3/01-tooltip/tooltip.css';
@import '../../05-lection3/03-calendar/calendar.css';
@import '../../04-lection2/01-histogram/histogram.css';
@import '../../06-lection4/01-avatar/avatar.css';
@import '../../05-lection3/02-modal/modal.css';

:root {
    --white: #ffffff;
    --global-black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --purple-2: #5028C6;
    --blue: #4263EB;
    --blue-2: #2342C0;
    --blue-3: #374FC7;
    --dark-blue: #334D6E;

    --red: #F03D3E;
    --grey-1: #F9FAFC;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --primary_hover: var(--blue-2);
    --secondary: var(--purple);
    --secondary_hover: var(--purple-2);
    --page-background: var(--white);
    --text: var(--global-black);
    --text-dark-light: var(--global-black);
    --text-calendar: var(--dark-blue);
    --text-calendar-item-day: #90A0B7;
    --text-icon-input: var(--white);
    --disabled: var(--grey-2);
    --preview-area: var(--grey-1);
    --header-border: var(--grey-2);
    --black: var(--global-black);
    --tooltip-icon-color: var(--global-black);
    --modal-background: rgba(127, 127, 127, 0.5);
    --border-color-light-white: var(--white);
    --radio-inner: var(--white);

}

html, body {
    height: 100%;
    margin: 0;
    transition: color 250ms linear;
}
html[data-theme-dark] {
    --page-background: var(--global-black);
    --black: var(--white);
    --text: var(--grey-3);
    --text-dark-light: var(--grey-1);
    --text-calendar: var(--grey-3);
    --text-calendar-item-day: var(--grey-3);
    --text-icon-input: var(--global-black);
    --disabled: var(--grey-4);
    --preview-area: var(--grey-4);
    --header-border: var(--grey-1);
    --tooltip-icon-color: var(--blue);
    
    --modal-background: var(--global-black);
    --border-color-light-white: var(--grey-1);
    --radio-inner: var(--global-black);

}
.icon {
    width: 24px;
    height: 24px;
    color: var(--black);
}
.icon_grey {
    color: var(--grey-3);
}

* {
    font-family: 'Roboto', sans-serif;
}
