.calendar {
    width: 300px;
    padding: 28px 26px 32px;
    border: 1px solid var(--grey-3);
    border-radius: 12px;
}
.calendar__title {
    color: var(--text-calendar);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}
.calendar__wrapper {
    padding-bottom: 100%;
    position: relative;
}
.calendar__inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
}
.calendar__item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-calendar);
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.calendar__item_day {
    color: var(--text-calendar-item-day);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.calendar__item_selection {
    background: #A0B1F5;
    color: var(--white);
}
.calendar__item_selection_border {
    background-color: var(--blue);
    color: var(--white);
}
.calendar_small {
    width: 120px;
    padding: 5px;
}
@media screen and (min-width: 568px) {
    .calendar_small {
        width: 180px;
        padding: 15px;
    }
}
.calendar__item_small {
    font-size: 9px;
    line-height: 12px;
}
@media screen and (min-width: 568px) {
    .calendar__item_small {
        font-size: 12px;
        line-height: 14px;
    }
}
.calendar__title_small {
    font-size: 12px;
    line-height: 16px;
}
@media screen and (min-width: 568px) {
    .calendar__title_small {
        font-size: 14px;
        line-height: 18px;
    }
}