.skeleton {
    border: 1px solid var(--grey-3);
    border-radius: 12px;
    padding: 24px 40px 32px 24px;
}
.skeleton__block {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}
.skeleton__line {
    width: 100%;
    height: 20px;
    flex-shrink: 0;
    background: linear-gradient(93deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}
.skeleton__top {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}
.skeleton__line_width_30 {
    width: 30%;
}
.skeleton__line_width_60 {
    width: 60%;
}