.tooltip {
    display: inline-block;
    position: relative;
}
.tooltip__trigger {
    color: var(--tooltip-icon-color);
}
.tooltip__bubble {
    display: none;
    position: absolute;
    bottom: calc(100% + 12px);
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    border-radius: 6px;
    background: var(--blue);
    box-shadow: 0px 2px 4px 0px rgba(33, 36, 41, 0.05);
    color: var(--Gray-2, #DDE2E5);
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    padding: 7px 14px 7px 14px;
    white-space: nowrap;
}
@media screen and (min-width: 568px) {
    .tooltip__bubble {
        width: 87px;
        border-radius: 10px;
        font-size: 16px;
        line-height: 24px;
        padding: 13px 21px 8px 21px;
    }
}
.tooltip__bubble::after {
    content: '';
    border: 10px solid transparent;
    position: absolute;
    border-top-color: var(--blue);
    top: 100%;
    right: 50%;
    transform: translateX(+50%);

}
.tooltip_force-show-bubble {
    display: inline-block;
}

.tooltip__trigger:hover ~ .tooltip__bubble {
    display: inline-block;
}
.tooltip__icon {
    width: 24px;
    height: 24px;
    color: var(--tooltip-icon-color);
}
