.footer {
    background-color: #FFF;
    width: 1440px;
    height: 1657px;
}
.footer-title {
    color: #212429;
    text-align: center;
}
.footer-description {
    color: #212429;
    text-align: center;
}