.logo {
    display: flex;
    gap: 8px;
}
.logo__triangle {
    border: 15px solid transparent; 
    border-bottom: 15px solid var(--black); 
    border-left: 15px solid var(--black);
}
.logo__cicle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--black);
}
.logo__square {
    width: 30px;
    height: 30px;
    background-color: var(--black);
}