.checkbox {
    position: relative;
    margin: 0px 16px;
}

.checkbox__input {
    position: absolute;
    left: -100vw;
}

.checkbox__state {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;

}

.checkbox__control {
    width: 28px;
    height: 28px;
    border-radius: 4px;
    border: 1px solid var(--grey-2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox__title {
    color: var(--Gray-4);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.checkbox__icon {
    color: white;
    stroke-width: 3px;
}

.checkbox__input:checked ~ .checkbox__state
.checkbox__control {
    border-color: var(--blue);
    background-color: var(--blue);
}

.checkbox__input:focus ~ .checkbox__state .checkbox__label {
    text-decoration: underline;
}

.checkbox__input:disabled {
    position: absolute;
    left: -100vw;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__control {
    border-color: var(--grey-2);
    background-color: var(--grey-2);
    color: var(--grey-2);
    pointer-events: none;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__icon {
    color: var(--grey-2);
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__label {
    color: var(--grey-2);
}

.checkbox__input:disabled ~ .checkbox__state {
    pointer-events: none;
}