.burger-menu {
    background: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(-100vw);
    transition: transform 250ms linear;
}

.burger-menu[data-open] {
    transform: none;
}

.burger-menu__inner {
    padding: 16px 12px;
}

.burger-menu__items {
    display: flex;
    flex-direction: column;
    gap: 16px; 
}

.burger-menu__title {
    margin: 0px;
    color: var(--grey-3);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.burger-menu__item {
    padding: 0px;
    color: var(--black);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.burger-menu__item_current {
    color: var(--red);
}