.input {
    position: relative;
}
.input__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.input__field {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 17px 56px 13px 24px;
    border: 1px solid var(--grey-2);
    border-radius: 8px;
    color: var(--grey-4);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.input__field::placeholder {
    color: var(--grey-2);  
}
.input__icon {
    display: none;
    position: absolute;
    top: 40px;
    right: 16px;
    width: 24px;
    height: 24px;
}
.input__icon_success {
    color: var(--blue-3);
}
.input__icon_invalid {
    color: var(--red);
}
.input_success {
    display: inline;
}
.input_invalid {
    display: inline;
}
.input__field_success {
    border-color: var(--blue);
}
.input__field_invalid {
    border-color: var(--red);
}
.input__label {
    margin-bottom: 5px;
    color: var(--grey-3);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
}
.input__field:focus {
    border-color: var(--blue);
}
.input_invalid:focus {
    outline: none;
    border: 2px solid var(--red);
}